.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 0rem 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
  }

  .product-image {
    width: 100%;
  }



}

::ng-deep .p-carousel-indicators {
  display: none;
}
::ng-deep .p-carousel .p-carousel-indicators {
  display: none;
  /* padding: 1rem; */
}
